body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: rgb(255, 254, 245);
  direction: rtl;
  font-family: "Assistant", sans-serif;
  font-weight: bold;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
}

.page-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 32px;
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin-bottom: 32px;
}

.card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 40px auto;
}

.card-title {
  background-color: #133d67;
  color: white;
  text-align: center;
  padding: 24px 0;
  font-size: 24px;
  font-weight: bold;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0;
}

.dashboard-card-top {
  padding: 30px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;
  font-size: 18px;
}

@media (min-width: 768px) {
  .cards-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.chart-container {
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
}

.result-text {
  font-size: 2rem;
  font-weight: bold;
  color: #3b82f6;
  margin: 24px 0;
}

.form-container {
  max-width: 1000px;
  margin: 100px auto;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.form-title {
  font-size: 3rem;
  margin-bottom: 24px;
  background-color: #114781;
  color: white;
  padding: 1.5rem;
  position: relative;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 20px;
  font-size: 1rem;
  color: #374151;
}

.form-wrapper-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.form-input {
  width: 97.5%;
  padding: 14px 10px;
  margin-top: 8px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
}

.form-error {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 16px;
  text-align: center;
}

.submit-button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  width: fit-content;
  display: flex;
}

.submit-button:hover {
  background-color: #1d4ed8;
}

.submit-button img {
  width: 18px;
  padding-left: 5px;
}

option {
  direction: rtl;
}
